
$error-color: #ff3131;

input {
    &.error {
        border: 1px solid $error-color !important;
        &:focus {
            border-color: transparent;
            box-shadow: 0 0 0 transparent;
        }
    }
}
.error-promote {
    position: absolute;
    color: $error-color;
    font-size: 12px;
    text-align: left;
    padding-left: 1%;
    margin: 0 auto;
}