.clerk-detail-container {
    .control {
        margin-top: 0;
        padding-top: 16px;
        height: 200px;
        background-color: #ebebeb;
        .ctr-btns {
            padding-right: 20px;
            .inline-block {
                margin-left: 36px;
                margin-top: 4px;
                &.hint {
                    position: relative;
                    .round {
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: #c50813;
                        top: -3px;
                        right: 0;
                    }
                }
            }
        }
    }
    .header-info {
        margin: 0 auto;
        margin-top: -138px;
        padding: 39px 30px;
        width: 1033px;
        height: 198px;
        background-color: #fff;
        box-shadow: 0 5px 13px rgba(4,0,0,.12);
        .prime-name {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-color: #66bcec;
            text-align: center;
            line-height: 120px;
            span {
                font-size: 54px;
                color: #fff;
            }
        }
        .base-info {
            ul {
                li {
                    margin-top: 10px;
                    font-size: 14px;
                    color: $theme-font-color;
                    &:first-child {
                        margin-top: 5px;
                        font-size: 30px;
                        font-weight: bold;
                        .en-name {
                            margin-left: 10px;
                            vertical-align: super;                            
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .ctr-btns {
            margin-top: 45px;
            button {
                width: 100px;
                height: 30px;
                font-size: 14px;
                margin-left: 10px;
                &:first-child {
                    position: relative;
                    color: #c74315;
                    border-color: #c74315;
                    img {
                        position: absolute;
                        top: -1px;
                        right: 0;
                    }
                    &:focus {
                        border-color: #c74315 !important;
                        color: #c74315 !important;
                    }
                }
                img {
                    vertical-align: middle;
                }
                span {
                    margin-right: 3px;
                }
            }
            .ant-btn {
                &:focus {
                    background-color: #FFF;
                    color: $theme-color !important;
                    border-color: $theme-color !important;
                }
            }
            .ant-select-selection {
                height: 30px !important;
                margin-left:10px !important;
            }
            .ant-select-selection__rendered {
                line-height: 30px !important;
            }
        }
    }
    .clerk-nav-tabs {
        .ant-tabs-bar {
            margin: 35px auto 45px;
        }
        .ant-tabs-ink-bar {
            top: 0;
            height: 3px;
        }
    }
    .clerk-tab-container {
        width: 1033px;
        margin: 0 auto;
        .title {
            position: absolute;
            z-index: 20;
            top: -10px;
            left: 0;
            padding-right: 12px;
            font-size: 18px;
            line-height: 19px;
            font-weight: bold;
            background-image: url(/static/images/more.png);
            background-color: #fff;
            background-size: 11px 13px;
            background-position: 0% 50%;
            background-repeat: no-repeat;
            padding-left: 19px;
            margin-bottom: 17px;
        }
        .editor-wrap {
            position: absolute;
            z-index: 20;
            right: 0;
            top: -12px;
            padding-left: 12px;
            color: $theme-color;
            cursor: pointer;
            background-color: #fff;
            img {
                vertical-align: middle;
            }
            span {
                margin-left: 6px;
            }
        }
        .info-field {
            position:relative;
            padding: 60px 0;
            &:before {
                @include border-top;
            }
        }
        .field-list {
            &+ul {
                position: absolute;
                left: 625px;
            }
            li {
                margin-top: 30px;
                span {
                    display: inline-block;
                    font-weight: bold;
                    white-space: pre-line;
                    word-break: break-all;
                    word-wrap: break-word;
                    &:first-child {
                        font-weight: normal;
                        min-width: 90px;
                        text-align: right;
                        margin-right: 60px;
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .add-attactment {
            position: relative;
            display: inline-block;
            padding-top: 30px;
            margin-left: 16px;
            width: 190px;
            height: 130px;
            border: 1px solid $border-color;
            border-radius: 5px;
            background-color: $nav-bg-color;
            text-align: center;
            cursor: pointer;
            p {
                margin-top: 10px;
                font-size: 16px;
                font-weight: bold;
                color: #868686;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    //操作历史
    .operate-history {
        .ant-timeline-item-content {
            padding: 0 0 18px 26px;
            font-size: 14px;
            span {
                margin: 0 3px;
                color: $theme-color;
                &.op-time {
                    margin: 0 3px 0 0;
                    color: $theme-font-color;
                    font-weight: bold;
                }
            }
        }
        .ant-timeline-item-head {
            width: 14px;
            height: 14px;                
            background-color: $border-color;
        }
        .ant-timeline-item-head-blue {
            border-color: $border-color;
            color: $border-color;
        }
        .ant-timeline-item:first-child {
            .ant-timeline-item-head {
                background-color: $theme-color;
            }
            .ant-timeline-item-head-blue {
                border-color: $theme-color;
                color: $theme-color;
            }
        }
        .ant-timeline-item-tail {
            display: none;
        }
    }
    //人员征信
    .credit-investgation {
        padding-left: 100px;
        .inverst-item {
            position: relative;
            margin-bottom: 30px;
            width: 890px;
            .top-title {
                position: relative;
                padding: 13px 0 7px 8px;
                line-height: 16px;
                font-size: 16px;
                span {
                    font-size: 14px;
                }
                &:after {
                    @include border-bottom;
                }
            }
        }
        .superior-content {
            .info-bar {
                margin-right: 46px;
                span {
                    color: #868686;
                    &:first-child {
                        color: #4d4d4d;
                        font-size: 16px;
                    }
                }
            }
            .info-right {
                vertical-align: top;
                margin-left: 15px;
                .list-item {
                    line-height: 16px;
                    &:first-child {
                        margin-bottom: 16px;
                    }
                    span {
                        margin-right: 10px;
                    }
                }
            }
            .remark {
                vertical-align: top;
                margin-left: 34px;
                li {
                    margin-bottom: 20px;
                    line-height: 14px;
                    i {
                        margin-right: 9px;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
            .duration {
                li {
                    text-align: center;
                }
            }
            .field-list {
                li {
                    span {
                        font-weight: normal;
                    }
                }
            }
        }
        .consquence {
            position: absolute;
            bottom: -19px;
            right: -10px;
            height: 77px;
        }
        //身份证，手机号实名
        .inverst-field:first-child {
            .inverst-item {
                padding-right: 18px;
                margin-right: 52px;
                width: 381px;
                height: 131px;
            }
        }
    }
}