.clerk-detail-container {
    .control {
        margin-top: 0;
        padding-top: 16px;
        height: 200px;
        background-color: #ebebeb;
        .ctr-btns {
            padding-right: 20px;
            .inline-block {
                margin-left: 36px;
                margin-top: 4px;
                &.hint {
                    position: relative;
                    .round {
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: #c50813;
                        top: -3px;
                        right: 0;
                    }
                }
            }
        }
    }
    .header-info {
        margin: 0 auto;
        margin-top: -138px;
        padding: 39px 30px;
        width: 1033px;
        height: 198px;
        background-color: #fff;
        box-shadow: 0 5px 13px rgba(4,0,0,.12);
        .prime-name {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            background-color: #66bcec;
            text-align: center;
            line-height: 120px;
            span {
                font-size: 54px;
                color: #fff;
            }
        }
        .base-info {
            ul {
                li {
                    margin-top: 10px;
                    font-size: 14px;
                    color: $theme-font-color;
                    &:first-child {
                        margin-top: 5px;
                        font-size: 30px;
                        font-weight: bold;
                        .en-name {
                            margin-left: 10px;
                            vertical-align: super;                            
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .ctr-btns {
            margin-top: 45px;
            button {
                width: 100px;
                height: 30px;
                font-size: 14px;
                margin-left: 10px;
                &:first-child {
                    position: relative;
                    color: #c74315;
                    border-color: #c74315;
                    img {
                        position: absolute;
                        top: -1px;
                        right: 0;
                    }
                    &:focus {
                        border-color: #c74315 !important;
                        color: #c74315 !important;
                    }
                }
                img {
                    vertical-align: middle;
                }
                span {
                    margin-right: 3px;
                }
            }
            .ant-btn {
                &:focus {
                    color: $theme-color !important;
                    background-color: #FFF;
                    border-color: $theme-color !important;
                }
            }
            .ant-select-selection {
                height: 30px !important;
                margin-left:10px !important;
            }
            .ant-select-selection__rendered {
                line-height: 30px !important;
            }
        }
    }
    .clerk-nav-tabs {
        margin-top: 35px;
        .ant-tabs-ink-bar {
            top: 0;
        }
    }
    .position-info {
        width: 1033px;
        margin: 0 auto;
        .clerk-list-item {
            padding-top: 45px;
        }
        .title {
            font-size: 18px;
            line-height: 19px;
            font-weight: bold;
            background-image: url(/static/images/more.png);
            background-size: 11px 13px;
            background-position: 0% 50%;
            background-repeat: no-repeat;
            padding-left: 19px;
            margin-bottom: 17px;
        }
        .info-field {
            position:relative;
            margin-left: 103px;
            margin-top: -25px;
            padding-top: 60px;
            border-top: 1px solid #d5d5d5;
        }
    }
}