.index-page {
    .time,.mission {
        background-color: #FFF;
    }
    .time {
        height: 64px;
        width: 270px;
        padding-left: 13px;
        padding-top: 17px;
        position: relative;
        box-sizing: border-box;
        .top {
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
        }
        .bottom {
            font-size: 12px;
            line-height: 12px;
            margin-top: 8px;
        }
        .right {
            width: 80px;
            height: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: $theme-color;
            color: #FFF;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 64px;
        }
    }
    .mission {
        margin-top: 16px;
        height: 300px;
        width: 270px;
        padding: 12px 13px 38px;
        box-sizing: border-box;
        .title {
            position: relative;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            background-image: url(/static/images/index/more.png);
            background-position: 100% 0%;
            background-repeat: no-repeat;
            padding-bottom: 12px;
            &:after {
                @include border-bottom;
            }
        }
    }
}