.job-page {
    
    .list-block {
        overflow: auto;
    }
    .pull-right {
        .box-border {
            background-color: #FFF;
            width: 984px;
            height: 930px;
            padding: 16px 16px 0;
        }
        .bottom16 {
            margin-bottom: 15px;
        }
        input {
            margin-right: 16px;
            width: 249px;
            border-radius: 8px;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
        }
        .float-button {
            position: absolute;
            right: 0px;
            bottom: 0px;
            font-size: 0;
            a {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                display: block;
                background-color: $theme-color;
                right: 0px;
                bottom: 0px;
                background-image: url(/static/images/plus.png);
                background-size: 26px 26px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            span {
                font-size: 14px;
                color: #868686;
                line-height: 14px;
                margin-top: 8px;
                display: block;
            }
        }
    }
    // 表格
    .ant-table-wrapper {
        .ant-table {
            font-size: 14px;
        }
        .ant-table-thead , .ant-table-tbody{
            &> tr {
                &>th,&>td {
                    height: 34px;
                    padding: 0px;
                }
            }
            
        }
        margin-top: 16px;
        td,th {
            // border-right: 1px solid #dfe6ec;
            // &:last-child {
            //     border-right: 0;
            // }
        }
        .cell {
            padding: 0px;
            text-align: center;
            white-space: nowrap;
        }
    }
}