//组织架构
.ant-tree-node-content-wrapper {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    color: rgba(0,0,0,.65);
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    &:hover {
        background-color: #ecf6fd;
        width: calc(100% - 18px);
    }
}
.ant-tree-node-selected {
    background-color: #d2eafb;
    width: calc(100% - 18px);
}

// 组织架构-部门管理-树形控件
.tree-type {
    width: 440px;
    height: 300px;
    border-right: 1px solid #eeeeee;
}
// 组织架构-部门管理-右侧内容
.organize-tree-right {
    width: 590px;
    height: 600px;
    margin-left: 13px;
    // 抬头
    .department-title {
        font-size: 16px;
        color: #222222;
        overflow: hidden;
        div {
            width: 4px;
            height: 14px;
            margin: 7px 3px 0 0;
            background-color: #61b0dc;
            float: left;
        }
    }
    // 下划线
    .down-line {
        width: 100%;
        height: 1px;
        background-color: #eeeeee;
        margin-top: 10px;
    }
    // 下级部门
    .sub-department {
        .sub-title {
            color: #666666;
            font-size: 16px;
            line-height: 32px;
        }
        .sub-depart-table {
            width: 100%;
            border: 1px solid #d2d2d2;
            .sub-depart-table-title {
                height: 34px;
                width: 100%;
                background-color: #f5be79;
                color: white;
                margin-bottom: 15px;
                span {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 34px;
                    margin-left:10px;
                }
                .left-width {
                    margin-left:290px;
                }
            }
            .sub-depart-table-lab {
                font-size: 14px;
                color: #666666;
                margin-bottom: 15px;
                .left {
                    width: 348px;
                    margin-left:10px;
                    display: inline-block;
                }
                .right {
                    width: 230px;
                    display: inline-block;
                }
            }
        }
    }
    // 部门在职员工
    .sub-department-two {
        margin-top: 10px;
        .sub-title {
            color: #666666;
            font-size: 16px;
            line-height: 32px;
        }
        .operate {
            color: #1587c7;
            margin-right: 34px;
            cursor: pointer;
        }
        .sub-depart-table {
            width: 100%;
            border: 1px solid #d2d2d2;
            .sub-depart-table-title {
                height: 34px;
                width: 100%;
                background-color: #878ef2;
                color: white;
                margin-bottom: 15px;
                span {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 34px;
                    margin-left:10px;
                }
                .one {
                    width: 20%;
                }
                .two {
                    width: 40%;
                }
                .three {
                    width: 17%;
                }
                .four {
                    width: 16%;
                }
            }
            .sub-depart-table-lab {
                font-size: 14px;
                color: #666666;
                margin-bottom: 15px;
                span {
                    display: inline-block;
                    margin-left: 10px;
                }
                .one {
                    width: 20%;
                }
                .two {
                    width: 40%;
                }
                .three {
                    width: 17%;
                }
                .four {
                    width: 16%;
                    color: #1587c7;
                    cursor: pointer;
                }
            }
        }
    }
}
