.resume-info-modal {
    .ant-modal {
        padding-bottom: 0px;
    }
    .ant-modal-body {
        padding: 30px 30px;
        font-size: 16px;
    }
    // 输入框
    input[type='text'] {
        width: 285px;
        height: 40px;
        font-size: 16px;
        margin:0 11px;
    }
    // 添加标签按钮
    .addTag-button {
        width: 65px;
        height: 30px;
        font-size: 16px;
    }
    // 添加标签区域
    .tag-area {
        margin-top: 27px;
    }
    // 标签样式
    .ant-tag {
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        background-color: transparent;
        border-radius: 0;
        font-size: 14px;
        color: $theme-color;
        border: 1px solid $theme-color;
        margin-top: 8px;
    }
    // 单选按钮样式
    .ant-radio-wrapper {
        margin-right: 27px;
    }
    .ant-radio-inner {
        width: 18px;
        height: 18px;
        background-color: #ebebeb;
        border-radius: 4px;
        &:after {
            border-radius: 2px;
            width: 10px;
            height: 10px;
        }
    }
    .ant-radio+span {
        padding-right: 0px;
        padding-left: 4px;
        font-size: 16px;
        color: #868686;
    }
    //职位申请
    &.resume-reply-modal,&.resume-offer-modal {
        .ant-modal {
            width: 500px !important;
        }
    }
    // 预约管理
    &.resume-subscribe-modal {
        .ant-modal {
            width: 560px !important;
        }
    }

    //面试管理
    &.resume-interview-modal,&.resume-retest-modal {
        .ant-modal {
            width: 510px !important;
        }
    }

    // 选择时间输入框
    input.ant-calendar-picker-input {
        font-size: 16px;
        height: 40px;
    }
}
.shareModal {
    .title {
        font-size: 18px;
        color: #515151;
    }
    .content {
        font-size: 14px;
        color: #868686;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .phone {
            width: 15px;
            height: 24px;
            background: url(/static/images/resume/phone.png);
        }
        .sweep {
            width: 19px;
            height: 19px;
            background: url(/static/images/resume/sweep.png);
        }
    }
    .hint {
        margin-top: 32px;
    }
    .qrcode-body {
        max-width: 430px;
        margin: 0 auto;
        overflow: hidden;
    }
    .qrcode-foot {
        text-align: center;
    }
    .ant-tabs-tab {
        font-size: 16px;
    }
    .inputGroup {
        margin: 20px 0 15px;
        .ant-input {
            height: 45px;
            font-size: 14px;
            color: #868686;
        }
        .ant-input-group-addon {
            background-color: $theme-color;
            padding: 4px 30px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }
    }
}
//面试评估表
.evaluation-modal {
    position: relative;
    .qrcode-write {
        position: absolute;
        display: none;
        top: 0;
        right:0;
        transition: right .4s ease-in;
        padding: 4px;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        color: #000;
        .left-arrow {
            width: 15px;
            height: 25px;
            left: -15px;
            background: url(/static/images/resume/left-arrow.png) no-repeat;
            box-shadow: 0 1px 3px rgba(0,37,55,.05);
        }
    }
    .ant-modal-body {
        padding-left: 50px;
        .title {
            font-size: 14px;
            color: #4d4d4d;
        }
        input {
            width: 150px;
            height: 36px;
            margin-right: 16px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: bold;
            color: #868686;
            padding-left: 13px;
        }
       
            
        .share {
            width: 40px;
            height: 40px;
            padding: 0;
            border: none !important;
            background-color: #ffa93a !important;
            img {
                vertical-align: middle;
            }
        }
        //去除table背景色
        .ant-table-thead>tr>th {
            background: transparent;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid #d5d5d5;
        }
        .ant-table-tbody > tr > td {
            border-bottom: none;
            text-align: center;
            &:first-child {
                text-align: right;
                padding-right: 5px;
            }
        }
        .ant-table-thead tr:nth-child(2n) td, 
        .ant-table-tbody tr:nth-child(2n) td {
            background: transparent;
        }
        .ant-table-tbody>tr.ant-table-row-hover>td,
        .ant-table-tbody>tr:hover>td,
        .ant-table-thead>tr.ant-table-row-hover>td,
        .ant-table-thead>tr:hover>td {
            background: transparent;
        }
        // 单选按钮样式
        .ant-radio-inner {
            width: 18px;
            height: 18px;
            background-color: #ebebeb;
            border-radius: 0;
            &:after {
                border-radius: 0;
                width: 10px;
                height: 10px;
            }
        }
        .ant-radio+span {
            padding-right: 0px;
            padding-left: 4px;
            font-size: 16px;
            color: #868686;
        }

        .eva_div .eva-ul{
            width: 100%;
            height: 30px;
            margin-left: 30px;
        }
        .eva_div .eva-ul li {
            float: left;
            margin-right:90px;
            font-weight: bold;
           
        }
        .eva_div .eva-jn {
            overflow: hidden;
            width: 100%;
            margin: 20px 0;
           margin-left: 30px;
        }
       
        .eva_div .eva-jn li:nth-child(1){  
            float: left;
            margin-right:70px;
             margin-left: 10px
        }
        .eva_div .eva-jn li:nth-child(2){  
            float: right;
            //margin-right:70px 
        }
        .eva_div .eva-jn li::nth-child(1){
            text-align: right
        }
        .eva_div .eva-jn .li-radio{
            width: 600px
        }
         .eva_div .eva-jn .li-radio .ant-radio-group{
             width: 600px
         }
         .eva_div .eva-jn .li-radio .ant-radio-group .ant-radio-wrapper {
            margin-right:100px
         }
        
    }
    .ant-modal-footer {
        border-top: none;
        text-align: center;
        .ant-btn-lg {
            padding: 0 80px;
            font-size: 18px;
        }
        .ant-btn {
            background-color: #c0c0c0; 
            border-color: #c0c0c0;
            color: #fff;
        }
        .ant-btn-primary {
            background-color: #108ee9; 
            border-color: #108ee9;
        }
        button+button {
            margin-left: 16px;
        }
     }
}