.task-page {
    .box-border {
        background-color: #FFF;
        padding: 16px 16px 124px;
    }
    tr {
        &:first-child td:first-child {
            padding-left: 0 !important;
            span {
                width: 60px;
                white-space: normal;
                margin: 0 auto;
                display: block;
            }
        }
        &:last-child td {
            font-weight: bold;
            text-align: center;
        }
    }
    .ant-table-wrapper  {
        margin-top: 16px;
        .ant-table-pagination {
            margin: 10px 0 0;
            text-align: right;
        }
    }
    .download {
        display: block;
        width: 194px;
        height: 40px;
        margin: 30px auto 0;
        font-size: 18px;
    }
}