
/** 初始化 **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active,a:hover{outline:0}
li{list-style:none;}

body {
    margin: 0;
    font: 12px/1.5 "Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
    // font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif !important;
    background-color: $page-bg-color;
    user-select:none;
}

div,input,span,p {
    user-select: none;
}

ul,li {
    list-style-type: none;
}

a {
    &.hover {
        &:hover {
            color: $theme-color;
            text-decoration: underline;
        }
    }
    &:focus {
        text-decoration: none;
    }
}

// app 应用根容器
#app {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


