/* Loading animation style starts here.
Adjust sizes and timing within secion labeled "animation timing specifics."
Squares number ordered by animation color fill*/

/*squares*/
.loading-wrapper {
    position: relative;
    height: 100%;
    .loading-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 105px;
        height: 100px;
        margin: auto;
        .row .square {
            float: left;
            background: $theme-color;
            display: block;
            overflow: hidden;
            width: 30px;
            height: 30px;
            margin: 0px 5px 5px 0;
            opacity: 0;
            animation-name: gotime;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }
        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
            }
        .clearfix { display: inline-block; }

        * html .clearfix { height: 1%; }
        .clearfix { display: block; }


        .one {
            animation-duration: 5.5s; 
            animation-delay: 0s;
        
        }

        .two {
            animation-duration: 5.5s; 
            animation-delay: 0.15s;
        }

        .three {
            animation-duration: 5.5s; 
            animation-delay: 0.25s;
        }

        .four {
            animation-duration: 5.5s; 
            animation-delay: 0.25s;
        }

        .five {
            animation-duration:5.5s; 
            animation-delay: .3s;
        }

        .six {
            animation-duration: 5.5s; 
            animation-delay: .35s;
        }

        .seven {
            animation-duration: 5.5s; 
            animation-delay: .4s;
        }

        .eight {
            animation-duration: 5.5s; 
            animation-delay: .45s;
        }

        .nine {
            animation-duration: 5.5s; 
            animation-delay: .5s;
        }

        /*End of animation timing specifics*/
        /*Animation -- Standard*/ 
        @keyframes gotime {
        0%{background: $theme-color;
        opacity: 0;}
        1.5%{background: $theme-color;
        opacity: 1;}
        3%{background: $theme-color;
        opacity: 0.9;}
        4.5%{background: $theme-color;
        opacity: 0.8;}
        6%{background: $theme-color;
        opacity: 0.7;}
        7.5%{background: $theme-color;
        opacity: 0.6;}
        9%{background: $theme-color;
        opacity: 0.5;}
        10.5%{background: $theme-color;
        opacity: 0.4;}
        12%{background: $theme-color;
        opacity: 0.3;}
        13.5%{background: $theme-color;
        opacity: 0.2;}
            15% {background: $theme-color;
        opacity: 0.1;}
        16.5%{background: $theme-color;
        opacity: 1;}
        18%{background: $theme-color;
        opacity: 0.9;}
        19.5%{background: $theme-color;
        opacity: 0.8;}
        21%{background: $theme-color;
        opacity: 0.7;}
        22.5%{background: $theme-color;
        opacity: 0.6;}
        24%{background: $theme-color;
        opacity: 0.5;}
        25.5%{background: $theme-color;
        opacity: 0.4;}
        27%{background: $theme-color;
        opacity: 0.3;}
        28.5%{background: $theme-color;
        opacity: 0.2;}
        30% {background: $theme-color;
        opacity: 0.1;}
        31.5%{background: $theme-color;
        opacity: 1;}
        33%{background: $theme-color;
        opacity: 0.9;}
        34.5%{background: $theme-color;
        opacity: 0.8;}
        36%{background: $theme-color;
        opacity: 0.7;}
        37.5%{background: $theme-color;
        opacity: 0.6;}
        39%{background: $theme-color;
        opacity: 0.5;}
        40.5%{background: $theme-color;
        opacity: 0.4;}
        42%{background: $theme-color;
        opacity: 0.3;}
        43.5%{background: $theme-color;
        opacity: 0.2;}
        45% {background: $theme-color;
        opacity: 0.1;}
        46.5%{background: $theme-color;
        opacity: 1;}
        48%{background: $theme-color;
        opacity: 0.9;}
        49.5%{background: $theme-color;
        opacity: 0.8;}
        51%{background: $theme-color;
        opacity: 0.7;}
        52.5%{background: $theme-color;
        opacity: 0.6;}
        54%{background: $theme-color;
        opacity: 0.5;}
        55.5%{background: $theme-color;
        opacity: 0.4;}
        57%{background: $theme-color;
        opacity: 0.3;}
        58.5%{background: $theme-color;
        opacity: 0.2;}
        60% {background: $theme-color;
        opacity: 0.1;}
        61.5%{background: $theme-color;
        opacity: 1;}
        63%{background: $theme-color;
        opacity: 0.9;}
        64.5%{background: $theme-color;
        opacity: 0.8;}
        66%{background: $theme-color;
        opacity: 0.7;}
        67.5%{background: $theme-color;
        opacity: 0.6;}
        69%{background: $theme-color;
        opacity: 0.5;}
        70.5%{background: $theme-color;
        opacity: 0.4;}
        72%{background: $theme-color;
        opacity: 0.3;}
        73.5%{background: $theme-color;
        opacity: 0.2;}
        75% {background: $theme-color;
        opacity: 0.1;}
        76.5%{background: $theme-color;
        opacity: 1;}
        78%{background: $theme-color;
        opacity: 0.9;}
        79.5%{background: $theme-color;
        opacity: 0.8;}
        81%{background: $theme-color;
        opacity: 0.7;}
        82.5%{background: $theme-color;
        opacity: 0.6;}
        84%{background: $theme-color;
        opacity: 0.5;}
        85.5%{background: $theme-color;
        opacity: 0.4;}
        87%{background: $theme-color;
        opacity: 0.3;}
        88.5%{background: $theme-color;
        opacity: 0.2;}
        90% {background: $theme-color;
        opacity: 0.1;}
        100% {background: $theme-color;
        opacity: 0.0;}
        }
    }
}